# 7 Segment

set_io -nowarn display[0]      4
set_io -nowarn display[1]      2
set_io -nowarn display[2]     47
set_io -nowarn display[3]     45
set_io -nowarn display[4]      3
set_io -nowarn display[5]     48
set_io -nowarn display[6]     46

#button 
set_io -nowarn button         10

#clock
set_io -nowarn clk           35   